.container {
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 3rem;
    margin-bottom: 1.5rem;
}

.title {
    margin-bottom: 1.5rem;
}

.content {
}

.button {
    cursor: pointer;
    margin-right: 0.1rem;
    font-weight: 800;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #7db928;
}

.input {
    padding: 1rem;
    margin-right: 0.1rem;
}
