.wrapper {
    width: 100%;
    height: calc(100vh - 7rem);
    padding: 0.5rem;
}

.container {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: white;
    padding: 4rem;
}

.title {
    margin-bottom: 1.5rem;
}

.content p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.strong {
}

.wpahr {
    margin-bottom: 0.5rem;
}
