.container {
    flex: 1;
    margin-right: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 3rem;
    margin-bottom: 0.5rem;
}

.title {
    margin-bottom: 1.5rem;
}

.text {
    margin-bottom: 0.7rem;
}

.button {
    cursor: pointer;
    margin-right: 0.1rem;
    font-weight: 800;
    color: white;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #7db928;
}

.input {
    padding: 0.7rem;
    margin-right: 0.1rem;
}

.dummy {
    margin-bottom: 0.5rem;
}
