* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #212529;
    background-color: #f3f3f9;
}

label {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

li {
    display: block;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.nav_container {
    padding: 0.7rem;
    /* margin-bottom: 1rem; */
}

.nav_title {
    color: #838fb9;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.nav_item {
    color: #abb9e8;
    margin-bottom: 0.5rem;
}

.nav_item:active {
    color: white;
    margin-bottom: 0.5rem;
}

.nav_item:hover {
    color: white;
}

.wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
}

.timeTd {
    border-bottom: 1px solid #f4f4f4;
}

.flex1 {
    flex: 1 0;
}

.flex2 {
    flex: 2 0;
}

.flex3 {
    flex: 3 0;
}

.flex4 {
    flex: 4 0;
}

.flex5 {
    flex: 5 0;
}

.flex6 {
    flex: 6 0;
}

.color {
    height: 100%;
    border: 1px solid white;
    border-radius: 0.3rem;
    /* margin: 0.1rem; */
    padding: 0.3rem;
}

.color span {
    display: block;
    color: rgb(20, 19, 19);
}
.color0 {
    background-color: #e0ffcd;
}
.color1 {
    background-color: #fdffcd;
}
.color2 {
    background-color: #ffebbb;
}
.color3 {
    background-color: #ffcab0;
}
.color4 {
    background-color: #e7eaf6;
}
.color5 {
    background-color: #c4c1e0;
}
.color6 {
    background-color: #e3f6f5;
}
.color7 {
    background-color: #abb9e8;
}
.color8 {
    background-color: bisque;
}
.color9 {
    background-color: #abb9e8;
}
.color10 {
    background-color: bisque;
}
